# Introduction to *numpy, pandas, and matplotlib*

In [1]:
import numpy as np
array = np.array([2,4,6,8,10])
print(array)

[ 2  4  6  8 10]

In [2]:
array

array([ 2,  4,  6,  8, 10])

In [3]:
type(array)

numpy.ndarray

In [4]:
for val in array:
    print(val, type(val))

2 <class 'numpy.int64'>
4 <class 'numpy.int64'>
6 <class 'numpy.int64'>
8 <class 'numpy.int64'>
10 <class 'numpy.int64'>

In [7]:
range_array = np.arange(0,151)
print(range_array)

[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150]

## np.arange(start, end, interval)

In [8]:
#when you want to count by a number you can put ,val in your range
range_array = np.arange(0,151,5)
print (range_array)

[  0   5  10  15  20  25  30  35  40  45  50  55  60  65  70  75  80  85
  90  95 100 105 110 115 120 125 130 135 140 145 150]

## Forming an array with a list of different types of values 

in the last case float array, we check to see if the transformation of a list of all floats is the smae as the transformation of a mixed list of floats and ints.

In [12]:
int_float_list = [1,3.0,4.1,5,6]
print("int_float_list")
for val in int_float_list:
    print(val, type(val))
mystery_array = np.array(int_float_list)
print()
print("mystery_array")
for val in mystery_array:
    print(val, type(val))

float_list = [2.,3.,4.,6.,10.]
print()
print("float_array")
float_array = np.array(float_list)
for val in float_list_array:
    print(val, type(val))

int_float_list
1 <class 'int'>
3.0 <class 'float'>
4.1 <class 'float'>
5 <class 'int'>
6 <class 'int'>

mystery_array
1.0 <class 'numpy.float64'>
3.0 <class 'numpy.float64'>
4.1 <class 'numpy.float64'>
5.0 <class 'numpy.float64'>
6.0 <class 'numpy.float64'>

float_array
2.0 <class 'numpy.float64'>
3.0 <class 'numpy.float64'>
4.0 <class 'numpy.float64'>
6.0 <class 'numpy.float64'>
10.0 <class 'numpy.float64'>

## Two-dimensional lists and arrays

In [13]:
two_dem_list = [[2,4,6,8,10],[0,3,6,9,12], [4,8,12,16,20]]
two_dem_list

[[2, 4, 6, 8, 10], [0, 3, 6, 9, 12], [4, 8, 12, 16, 20]]

In [16]:
for lst in two_dem_list:
    print(lst)
    for val in lst:
        print(val)

[2, 4, 6, 8, 10]
2
4
6
8
10
[0, 3, 6, 9, 12]
0
3
6
9
12
[4, 8, 12, 16, 20]
4
8
12
16
20

In [18]:
for lst in two_dem_list:
#    print(lst) if you take this out its harder to see
    for val in lst:
        print(val)

2
4
6
8
10
0
3
6
9
12
4
8
12
16
20

## Transform two_dem_list to two_dem_array using np.array(lst)

In [20]:
two_dem_array = np.array(two_dem_list)
print(two_dem_list)
two_dem_array

[[2, 4, 6, 8, 10], [0, 3, 6, 9, 12], [4, 8, 12, 16, 20]]

array([[ 2,  4,  6,  8, 10],
       [ 0,  3,  6,  9, 12],
       [ 4,  8, 12, 16, 20]])

In [22]:
for array in two_dem_array:
    print(array)
    for val in array:
        print(val)

[ 2  4  6  8 10]
2
4
6
8
10
[ 0  3  6  9 12]
0
3
6
9
12
[ 4  8 12 16 20]
4
8
12
16
20

## Changing the values of elements in an array

In [29]:
array = np.zeros((3,3))
print("Original Array:", array, sep = "\n")
print()
array[0][2] = 9
array[2][1] = 2
array[1][2] = 5
print("Updated Array:", array, sep = "\n")

Original Array:
[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

Updated Array:
[[0. 0. 9.]
 [0. 0. 5.]
 [0. 2. 0.]]

# you can do mulitple dimensional arrays too

In [30]:
array = np.zeros((3,3,3))
print("3D Array:", array, sep = "\n")

3D Array:
[[[0. 0. 0.]
  [0. 0. 0.]
  [0. 0. 0.]]

 [[0. 0. 0.]
  [0. 0. 0.]
  [0. 0. 0.]]

 [[0. 0. 0.]
  [0. 0. 0.]
  [0. 0. 0.]]]

## all int zeros array

In [32]:
zero_lst_of_lsts = [[0,0,0],[0,0,0],[0,0,0]]
np.array(zero_lst_of_lsts)
# no more floats in the array

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

In [34]:
zero_array_of_arrays = np.array(zero_lst_of_lsts)
zero_array_of_arrays[0][0] = 5
zero_array_of_arrays
#notice that it is not a float but it is an int

array([[5, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

In [36]:
np.zeros((3,3,3), dtype = int)
#also works for changing the type of the values

array([[[0, 0, 0],
        [0, 0, 0],
        [0, 0, 0]],

       [[0, 0, 0],
        [0, 0, 0],
        [0, 0, 0]],

       [[0, 0, 0],
        [0, 0, 0],
        [0, 0, 0]]])

## Logging Data

In [44]:
log_of_e = np.log(np.e)
print("log_of_e:",log_of_e, sep = "\n")
print()
log_of10 = np.log10(10)
print("log_of10:", log_of10, sep = "\n")
print()
log_of100 = np.log10(100)
print("log_of100:", log_of100, sep = "\n")
print()
vals = np.arange(1,10001,100)
ln_vals = np.log(vals)
log10_vals = np.log
print("vals:", vals, sep = "\n")
print()
print("ln_vals:", ln_vals, sep = "\n")
print()
print("log10_vals:",log10_vals, sep = "\n")

log_of_e:
1.0

log_of10:
1.0

log_of100:
2.0

vals:
[   1  101  201  301  401  501  601  701  801  901 1001 1101 1201 1301
 1401 1501 1601 1701 1801 1901 2001 2101 2201 2301 2401 2501 2601 2701
 2801 2901 3001 3101 3201 3301 3401 3501 3601 3701 3801 3901 4001 4101
 4201 4301 4401 4501 4601 4701 4801 4901 5001 5101 5201 5301 5401 5501
 5601 5701 5801 5901 6001 6101 6201 6301 6401 6501 6601 6701 6801 6901
 7001 7101 7201 7301 7401 7501 7601 7701 7801 7901 8001 8101 8201 8301
 8401 8501 8601 8701 8801 8901 9001 9101 9201 9301 9401 9501 9601 9701
 9801 9901]

ln_vals:
[0.         4.61512052 5.30330491 5.70711026 5.99396143 6.2166061
 6.39859493 6.55250789 6.68586095 6.80350526 6.90875478 7.00397414
 7.09090982 7.17088848 7.24494155 7.31388683 7.37838371 7.43897159
 7.49609735 7.55013534 7.60140233 7.6501687  7.69666708 7.74109909
 7.7836406  7.82444593 7.86365127 7.90137735 7.93773178 7.97281078
 8.00670085 8.03947992 8.07121854 8.10198073 8.13182479 8.16080392
 8.18896686 8.21635833 8.24301947 8.26898821 8.29429961 8.31898613
 8.34307787 8.36660283 8.38958707 8.41205487 8.43402895 8.45553053
 8.47657951 8.49719454 8.51739317 8.53719188 8.55660619 8.57565076
 8.5943394  8.61268517 8.63070043 8.64839688 8.6657856  8.68287711
 8.6996814  8.71620797 8.73246585 8.74846363 8.76420951 8.77971129
 8.79497643 8.81001205 8.82482494 8.83942161 8.85380827 8.8679909
 8.88197518 8.8957666  8.90937041 8.92279162 8.9360351  8.94910547
 8.96200721 8.97474461 8.98732181 8.99974279 9.01201138 9.02413127
 9.03610603 9.04793908 9.05963375 9.07119324 9.08262063 9.09391891
 9.10509096 9.11613958 9.12706745 9.1378772  9.14857135 9.15915234
 9.16962254 9.17998425 9.1902397  9.20039104]

log10_vals:
<ufunc 'log'>

In [38]:
for i in range(10,1001,10):
    print(i, np.log10(i))

10 1.0
20 1.3010299956639813
30 1.4771212547196624
40 1.6020599913279623
50 1.6989700043360187
60 1.7781512503836436
70 1.845098040014257
80 1.9030899869919435
90 1.954242509439325
100 2.0
110 2.041392685158225
120 2.0791812460476247
130 2.113943352306837
140 2.146128035678238
150 2.1760912590556813
160 2.2041199826559246
170 2.230448921378274
180 2.255272505103306
190 2.278753600952829
200 2.3010299956639813
210 2.322219294733919
220 2.342422680822206
230 2.361727836017593
240 2.380211241711606
250 2.3979400086720375
260 2.4149733479708178
270 2.4313637641589874
280 2.4471580313422194
290 2.462397997898956
300 2.4771212547196626
310 2.4913616938342726
320 2.505149978319906
330 2.5185139398778875
340 2.531478917042255
350 2.5440680443502757
360 2.5563025007672873
370 2.568201724066995
380 2.57978359661681
390 2.591064607026499
400 2.6020599913279625
410 2.6127838567197355
420 2.6232492903979003
430 2.6334684555795866
440 2.6434526764861874
450 2.6532125137753435
460 2.662757831681574
470 2.6720978579357175
480 2.681241237375587
490 2.690196080028514
500 2.6989700043360187
510 2.7075701760979363
520 2.716003343634799
530 2.724275869600789
540 2.7323937598229686
550 2.7403626894942437
560 2.7481880270062002
570 2.7558748556724915
580 2.7634279935629373
590 2.7708520116421442
600 2.7781512503836434
610 2.785329835010767
620 2.792391689498254
630 2.7993405494535817
640 2.806179973983887
650 2.8129133566428557
660 2.8195439355418688
670 2.8260748027008264
680 2.832508912706236
690 2.838849090737255
700 2.845098040014257
710 2.8512583487190755
720 2.8573324964312685
730 2.863322860120456
740 2.8692317197309762
750 2.8750612633917
760 2.8808135922807914
770 2.886490725172482
780 2.8920946026904804
790 2.8976270912904414
800 2.9030899869919438
810 2.90848501887865
820 2.9138138523837167
830 2.9190780923760737
840 2.9242792860618816
850 2.929418925714293
860 2.934498451243568
870 2.9395192526186187
880 2.9444826721501687
890 2.949390006644913
900 2.9542425094393248
910 2.9590413923210934
920 2.963787827345555
930 2.9684829485539352
940 2.9731278535996988
950 2.9777236052888476
960 2.9822712330395684
970 2.9867717342662448
980 2.9912260756924947
990 2.99563519459755
1000 3.0