# Project 2 - Chapter 2 - Working with Lists

## Lists can hold any kind of object

In [1]:
empty_list = []
int_list = [1,3,5,7,9]
float_list = [1.0,3.0,5.0,7.0,9.0]
string_list = ["All the dates", "many holidays"]
mixed_list = [3,8.0,"Here are some words"]

print(empty_list)
print(int_list)
print(float_list)
print(string_list)
print(mixed_list)

[]
[1, 3, 5, 7, 9]
[1.0, 3.0, 5.0, 7.0, 9.0]
['All the dates', 'many holidays']
[3, 8.0, 'Here are some words']

Let's check the types of objects in the last list

In [2]:
type(mixed_list)

list

To access elements in a list, you must call the index which starts from 0 and counts upward with each individual element.

In [3]:
mixed_list[0], type(mixed_list[0])

(3, int)

In [4]:
mixed_list[1], type(mixed_list[1])

(8.0, float)

In [5]:
mixed_list[2], type(mixed_list[2])

('Here are some words', str)

### We are concatenating the lists

In [6]:
list1 = [6,3,4,8,1,2]
list2 = [11,44,12,56,32,13]

join_lists = list1 + list2

In [7]:
list1

[6, 3, 4, 8, 1, 2]

In [8]:
join_lists

[6, 3, 4, 8, 1, 2, 11, 44, 12, 56, 32, 13]

Remember this is just like concatenating strings

In [9]:
str1 = "The words are strings"
str2 = "and you can concatenate them"

join_strs = str1 + str2
join_strs

'The words are stringsand you can concatenate them'

In [10]:
join_strs[2]

'e'

## List slices 

Suppose that you want to call a subset of a list or string. You can do this by using calling list[start:end]

In [11]:
join_lists

[6, 3, 4, 8, 1, 2, 11, 44, 12, 56, 32, 13]

In [12]:
join_lists[:7]

#calls from 0 to 7

[6, 3, 4, 8, 1, 2, 11]

In [13]:
join_lists[0:7]

#the same as above

[6, 3, 4, 8, 1, 2, 11]

In [14]:
join_strs[:9]

'The words'

In [15]:
join_strs[10:]

'are stringsand you can concatenate them'

If you call list [-1], it will access the last element in the list.

You can count from the end of the list using the negative sign (-). If you count backward after the first colon, this will call all except for the last i elements for a command list[:(-)#]

In [16]:
join_lists[-1], join_strs[-1]

(13, 'm')

In [17]:
join_lists[:-1], join_strs[:-1]

([6, 3, 4, 8, 1, 2, 11, 44, 12, 56, 32],
 'The words are stringsand you can concatenate the')

In [18]:
join_lists[:-4], join_strs[:-4]

([6, 3, 4, 8, 1, 2, 11, 44], 'The words are stringsand you can concatenate ')

## For Loops

The magical piece that allows computer to do things for you.

In [19]:
list1 = [3,5,7,9,11]
list2 = [13,17,30,22,10]

print ("List 1:", list1)
print ("List 2:", list2)

#create a blank list that we will use to generate the 
#results that we achieved using the + sign: concatenate.
concat_list = []
sum_list = []

len_list1 = len(list1)
len_list2 = len(list2)
# first let's concatenate
for i in range(0,len_list1):
    concat_list.append(list1[i])
    print(i, list1[i])
print (concat_list)

for i in range(0,len_list2):
    concat_list.append(list2[i])
    print(i,list2[i])

print(concat_list, list1 + list2)

if len_list1 == len_list2:
    for i in range(len_list1):
        sum_list.append(list1[i]+list2[i])
print("sum_list (append):", sum_list)
sum_list = []
if len_list1 == len_list2:
    for i in range(len_list1):
        #list.insert(index,value)
        sum_list.insert(0, list1[i]+list2[i])
        # if you replace 0 with "i" then it will append and not invert
print("sum_list (insert):", sum_list)
#insert inverts your list

List 1: [3, 5, 7, 9, 11]
List 2: [13, 17, 30, 22, 10]
0 3
1 5
2 7
3 9
4 11
[3, 5, 7, 9, 11]
0 13
1 17
2 30
3 22
4 10
[3, 5, 7, 9, 11, 13, 17, 30, 22, 10] [3, 5, 7, 9, 11, 13, 17, 30, 22, 10]
sum_list (append): [16, 22, 37, 31, 21]
sum_list (insert): [21, 31, 37, 22, 16]

In [20]:
1==1

True

In [21]:
1!=1

False

In [22]:
if 1==1:
    print("that is a true statement")

that is a true statement

In [23]:
if sum_list[i] == 17:
    print("statment is true")
else:
    print("statement is false")

statement is false

In [24]:
for i in range(10):
    print("i ==", i, "i < 5:", i<5)

i == 0 i < 5: True
i == 1 i < 5: True
i == 2 i < 5: True
i == 3 i < 5: True
i == 4 i < 5: True
i == 5 i < 5: False
i == 6 i < 5: False
i == 7 i < 5: False
i == 8 i < 5: False
i == 9 i < 5: False

In [25]:
for i in sum_list:
    print("i ==", i, "i > 25", i>25)

i == 21 i > 25 False
i == 31 i > 25 True
i == 37 i > 25 True
i == 22 i > 25 False
i == 16 i > 25 False

In [26]:
list1 = [3,6,1,7,3]
list2 = ["Grape", "Orange", "Pear", "Banana", "Peach"]

print(list1)
print(list2)
sorted_list1 = sorted(list1)#, reverse = True) to reverse it a different way
sorted_list2 = sorted(list2)

print(sorted_list1, sorted_list2)

#ran backwards

print(sorted_list1[::-1], sorted_list2[::-1])

[3, 6, 1, 7, 3]
['Grape', 'Orange', 'Pear', 'Banana', 'Peach']
[1, 3, 3, 6, 7] ['Banana', 'Grape', 'Orange', 'Peach', 'Pear']
[7, 6, 3, 3, 1] ['Pear', 'Peach', 'Orange', 'Grape', 'Banana']

In [27]:
list3 = ["1", 2,"22",9,"6"]
try:
    sorted_list3 = sorted(list3)
except:
    print("TypeError: Unorderable types: str () < int ()")

# generator function creates list using for loop within the list created
alpha_list3 = [str(val) for val in list3] 
num_list3 = []
for val in list3:
    num_list3.append(int(val))
print(alpha_list3)
print(num_list3)

print("sorted alpha_list:",sorted(alpha_list3))
print("sorted num_list:", sorted(num_list3))

TypeError: Unorderable types: str () < int ()
['1', '2', '22', '9', '6']
[1, 2, 22, 9, 6]
sorted alpha_list: ['1', '2', '22', '6', '9']
sorted num_list: [1, 2, 6, 9, 22]

You can nest loops, meaning that you can add a loop within a loop.

In [28]:
print("j", "r")
for j in range (3):
    for r in range (3):
        print (j,r)

j r
0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [29]:
print("j", "r")
for j in range (5):
    for r in range (3):
        print (j,r)

j r
0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
3 0
3 1
3 2
4 0
4 1
4 2

In [30]:
print("j", "r")
for j in range (3):
    for r in range (6):
        print (j,r)

j r
0 0
0 1
0 2
0 3
0 4
0 5
1 0
1 1
1 2
1 3
1 4
1 5
2 0
2 1
2 2
2 3
2 4
2 5

In [31]:
print("j","b", "r")
for j in range (3):
    for b in range (3):
        for r in range(3):
            print (j,b,r)

j b r
0 0 0
0 0 1
0 0 2
0 1 0
0 1 1
0 1 2
0 2 0
0 2 1
0 2 2
1 0 0
1 0 1
1 0 2
1 1 0
1 1 1
1 1 2
1 2 0
1 2 1
1 2 2
2 0 0
2 0 1
2 0 2
2 1 0
2 1 1
2 1 2
2 2 0
2 2 1
2 2 2

In [32]:
print("j","b", "r")
j_list = list(range(3))
b_list = list(range(4))
r_list = list(range(5))
for j in range (3):
    for b in range (4):
        for r in range(5):
            print (j,b,r)

print(j_list)
print(b_list)
print(r_list)

j b r
0 0 0
0 0 1
0 0 2
0 0 3
0 0 4
0 1 0
0 1 1
0 1 2
0 1 3
0 1 4
0 2 0
0 2 1
0 2 2
0 2 3
0 2 4
0 3 0
0 3 1
0 3 2
0 3 3
0 3 4
1 0 0
1 0 1
1 0 2
1 0 3
1 0 4
1 1 0
1 1 1
1 1 2
1 1 3
1 1 4
1 2 0
1 2 1
1 2 2
1 2 3
1 2 4
1 3 0
1 3 1
1 3 2
1 3 3
1 3 4
2 0 0
2 0 1
2 0 2
2 0 3
2 0 4
2 1 0
2 1 1
2 1 2
2 1 3
2 1 4
2 2 0
2 2 1
2 2 2
2 2 3
2 2 4
2 3 0
2 3 1
2 3 2
2 3 3
2 3 4
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]